/**********VIDEO CHAT**********/
video#localVideo {
  height: 150px;
  border-radius: 100%;
  top: 200px;
  left: 80%;
  display: inline;
  position: absolute;
}

div#remoteVideos video {
  height: 150px;
  border-radius: 100%;
  top: 400px;
  left: 80%;
  display: inline;
  position: absolute;
}

html {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
}


body {
  background-color: black;
  position: relative;
  background-color: #00BB9C;
  /*background-image: url('../images/whiteboard.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 5em;
  color: white;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 0;
  z-index: -100;
  display: inline;
}


.whiteboard.container { 
  background-color: #fff;
  /*position: relative;*/
/*  margin: 10% 10%;
  left: 30px;
  margin: 10px;
  padding: 10px;
  height: 80%;
  width: 80%;*/
  /**/
}

.toolbar {
  background-color: #00BB9C;
  width: 100%;
  height: 2%;
  margin: 0 auto;
  position: absolute;
}

.board-frame {
   /*background-image: url('../images/Whiteboard_Frame2.jpg');*/


   /*background-size: 908px 680px;*/
   /*padding: 45px 40px;*/
   /*width: 828px;*/
   /*height: 590px;*/
   
}

#whiteboard {
  /*position: absolute;*/
  margin: auto;
  /*top: 40px;*/
  /*left: 40px;*/
}


/********button styles********/

.btn-undo {
   border-top: 1px solid #b3b3b3;
   background: #bec2d4;
   background: -webkit-gradient(linear, left top, left bottom, from(#0a5c58), to(#bec2d4));
   background: -webkit-linear-gradient(top, #0a5c58, #bec2d4);
   background: -moz-linear-gradient(top, #0a5c58, #bec2d4);
   background: -ms-linear-gradient(top, #0a5c58, #bec2d4);
   background: -o-linear-gradient(top, #0a5c58, #bec2d4);
   padding: 16.5px 33px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 13px;
   text-decoration: none;
   vertical-align: middle;
   }

.btn-erase {
  display: inline-block;
  position: absolute;
  width: 150px;
  height: 75px;
  top: 15px;
  background-image: url('../images/eraser.svg');
  background-size: 150px 75px;
}



.btn-tool:hover {
   border-top-color: #94a8b5;
   background: #94a8b5;
   color: #2e262e;
   }
.btn-tool:active {
   border-top-color: #05ab8f;
   background: #05ab8f;
   }


.button:hover {
   border-top-color: #94a8b5;
   background: #94a8b5;
   color: #2e262e;
   }
.button:active {
   border-top-color: #05ab8f;
   background: #05ab8f;
   }

.btn-undo {
  position: absolute;
  top: 2em;
  right: 50px;
}



.pens {
  /*display: inline-block;*/
  position: absolute;
  left: 50%;
  top: 15px;
  /*width: 100px;*/
}















input[type=checkbox] {
  visibility: hidden;
}
.palette {
  width: 28px;
  height: 28px;
  background: #fcfff4;
  display: inline-block;
  margin: 20px 5px;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}

.palette label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 4px;
  top: 4px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.palette label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #00bf00;

  background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
  background: linear-gradient(top, #00bf00 0%, #009400 100%);

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  top: 2px;
  left: 2px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.palette label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.palette input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  background: black;
  opacity: 1;
}
