html {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #000; 
  color: #000;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
  letter-spacing: -0.025em;
  line-height: 1.75em;
}


body {
  background: #fff;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

video { 
/*  position: fixed;
  /*-webkit-transform: translateX(-50%) translateY(-50%);*/
  top: 0;
  z-index: -100;
  left: 0; 
  min-height: 104%;
  min-width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  background-size: cover;*/
  -webkit-transition: 1.1s opacity;
  transition: 1.1s opacity;
  /*opacity: 0.3;*/
  -webkit-animation: video 1.1s 1.1s forwards;
  animation: video 1.1s 1.1s forwards;
}


@keyframes video {
  0% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.3;
  }
}

.stopfade { 
 opacity: .5;
}


@keyframes header {
  0% {
    -moz-transform: translate3d(0,1em,0);
    -webkit-transform: translate3d(0,1em,0);
    -ms-transform: translate3d(0,1em,0);
    transform: translate3d(0,1em,0);
    opacity: 0;
  }

  100% {
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

#header {
  -webkit-animation: header 1.1s 1.1s forwards;
  animation: header 1.1s 1.1s forwards;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  text-align: center;
}

#header {
  margin-top: 14%;
}

#header h1 {
  font-size: 4.35em;
  font-weight: 900;
  margin: 0 0 0.5em 0;
  line-height: 1em;

}

#header p {
  font-size: 1.25em;
  margin: 0.75em 0 1.5em 0;
  opacity: 0.75;
}


/*button {
  width: 341px;
  height: 50px;
  background-color: white;
  border-width: 2px;
  border-color: white;
  box-shadow: none;
}*/

button {
  background-color:#ffffff;
  -moz-border-radius:26px;
  -webkit-border-radius:26px;
  border-radius:26px;
  border:2px solid #ededed;
  display:inline-block;
  cursor:pointer;
  /*color:#387ae3;*/
  font-size:15px;
  padding:8px 56px;
  text-decoration:none;
  font-family: 'Montserrat', sans-serif;
}
button:hover {
  background-color:#ffffff;
}
button:active {
  position:relative;
  top:1px;
}

div.buttons {
  margin-top: 0.4em;
}
